<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Login</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="../../static/css/public/dashboard.css" rel="stylesheet">
</head>

<body>

<main>
    <div class="container">
        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                <!-- Flash Messages -->
                <div class="row">
                    <div class="col-12">
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                {% for category, message in messages %}
                                    <div class="alert alert-{{ category }}">{{ message }}</div>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                        <div class="d-flex justify-content-center py-4">
                            <a href="index.html" class="logo d-flex align-items-center w-auto">
                                <img src="assets/img/logo.png" alt="">
                                <span class="d-none d-lg-block">SAMS</span>
                            </a>
                        </div><!-- End Logo -->

                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="pt-4 pb-2">
                                    <h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5>
                                    <p class="text-center small">Enter the username & password to login</p>
                                </div>

                                <form class="row g-3 needs-validation" method="post" action="{{ url_for('main.login') }}"
                                      novalidate>
                                    {{ form.hidden_tag() }}  <!-- CSRF token -->

                                    <div class="col-12">
                                        <label for="username" class="form-label">Username</label>
                                        <div class="input-group has-validation">
                                            <span class="input-group-text" id="inputGroupPrepend">@</span>
                                            {{ form.username(class="form-control", id="username", required=True) }}
                                            {% if form.username.errors %}
                                                <div class="invalid-feedback">
                                                    {{ form.username.errors[0] }}
                                                </div>
                                            {% else %}
                                                <div class="invalid-feedback">Please enter your username.</div>
                                            {% endif %}
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <label for="password" class="form-label">Password</label>
                                        {{ form.password(class="form-control", id="password", required=True) }}
                                        {% if form.password.errors %}
                                            <div class="invalid-feedback">
                                                {{ form.password.errors[0] }}
                                            </div>
                                        {% else %}
                                            <div class="invalid-feedback">Please enter your password!</div>
                                        {% endif %}
                                    </div>

                                    <div class="col-12">
                                        <div class="form-check">
                                            {{ form.remember(class="form-check-input", id="rememberMe") }}
                                            <label class="form-check-label" for="rememberMe">Remember me</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button class="btn btn-primary w-100" type="submit">Login</button>
                                    </div>
                                </form>
                                <small class="text-muted">
                                    If you don't have an account, please ask your admin.
                                </small>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>
</main><!-- End #main -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="../../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Main JS File -->
<script src="../../static/js/main-dashboard.js"></script>

</body>

</html>
